body {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  font-family: arial;


}

h1 {
  font-weight: bold;
  font-size: 50px;

}





.paper,
.rock,
.scissors {

  margin-right: 20px;
  background-color: bisque;
  border: solid 3px rgb(200, 68, 68);
  ;

  border-radius: 50px;

}


.rock:hover {
  opacity: 0.8;
  cursor: pointer;
}

.rock:active {

  opacity: 0.6;


}

.paper:hover {
  opacity: 0.8;
  cursor: pointer;
}

.paper:active {
  opacity: 0.6;
}

.scissors:hover {
  opacity: 0.8;
  cursor: pointer;
}

.scissors:active {
  opacity: 0.6;
}

.reset {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: solid 1px black;
  padding: 10px 15px;
  border-radius: 20px;


}

.move-img {
  background-color: bisque;
  margin-top: 10px;
  padding: 5px;
  border-radius: 50px;
}

